// Breakpoints
$tablet-bp: 1023.98px;
$mobile-bp: 559.98px;

// Units

:root {
    // Colors
    --bg-color: #fff;
    --bg-color-light: #F0F4F8;
    --bg-color-blue: #DCEAF8;
    --primary-color: #2F80ED;
    --primary-color-light: #fff
    --text-color: #000;
    --text-color-light: #fff;
    --card-color: #F1F5F9;

    // Fonts
    --main-font: "Inter", "Arial", sans-serif;
}
