.header {
    display: flex;
    align-items: center;
    padding: 28px 0;

    &__contacts {
        margin-left: 32px;
        text-decoration: none;
    }


}



.contactsbutton {
    display: flex;
    justify-content: end;

}
